@import "src/app/mixins";

.profileInfoWrapper {
	@include authFormsWrapper;
	text-align: center;

	h1 {
		@include title;
		margin-bottom: 30px;
	}

	.profileAvatar {
		width: 96px;
		height: 96px;
		border-radius: 50%;
		margin-bottom: 20px;
	}


	h2 {
		margin-top: 20px;
		@include grayAuthText
	}

	button {
		margin-top: 30px;
	}
}